<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p><%="The date is #{Time.now.strftime("%A")}, #{Time.now.strftime("%B")} #{DateTime.now.day}, #{DateTime.now.year}"%></p>
    </body>
</html>